* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    /* background-image: url('img/restaurant-trattoria-da-fausto-black-and-white-germany-0m0iv1nwqmxzsvtp.jpg'); */
    /* background-image: url('img/pexels-engin-akyurt-1907642.jpg'); */
    background-image: url('img/vintage-old-rustic-cutlery-dark.jpg');
    background-size: cover;
    overflow: visible;
    position: relative;
    font-family: 'roboto', sans-serif;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding: 0 40px;
}

.logo {
    font-size: 90px;
    color: rgb(237, 12, 12);
    letter-spacing: 6px;
    font-style: italic;
    padding: 10px;
    margin-top: 50px;
    margin-left: 40px;
    font-weight: bolder;
    text-shadow: -1px 0 white, 0 2px rgb(248, 242, 242), 2px 0 rgb(230, 224, 224), 0 -2px rgb(244, 239, 239);
}

.nav {
    position: relative;
    left: 150px;
}

.nav>a {
    padding: 5px 10px;
    color: rgb(247, 170, 202);
    font-size: 25px;
    text-decoration: none;
    letter-spacing: 1px;
    font-style: italic;
}

.nav>a:hover {
    color: #fff;
    text-decoration: none;
    transition: .5s;
    background-color: rgba(122, 125, 122, 0.589);
    padding: 8px;
    margin: 2px;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
}

.menu {
    width: 80%;
    margin-left: 0 auto;
    margin-right: 0 auto;
    padding: 20px;
}

.search {
    font-size: 25px;
    color: rgb(240, 9, 113);
    margin-left: 200px;
}

.search :hover {
    color: rgb(194, 183, 185);
    transition: .5s;
}

.search i {
    padding: 15px 15px;
}

/******** HEADING ********/
.heading {
    display: flex;
    justify-content: space-evenly;
    padding-top: 65px;
    align-items: center;
    color: rgb(0, 0, 0);
}

.right {
    width: 500px;
    height: 500px;
    background-image: url('img/biriyani2.jpg');
    background-size: cover;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 150px;
}

.right::before {
    width: 490px;
    height: 490px;
    border: 7px solid #fff;
    content: '';
    position: absolute;
    border-radius: 450px;
    padding: 10px;
}

.left {
    display: inline;
}

/*****************left****************/
.left p:nth-child(1) {
    color: rgb(9, 9, 255);
    font-size: 50px;
    letter-spacing: 1px;
    font-style: italic;
    margin-top: 20%;
    margin-left: 30px;

}

.left h1 {
    color: rgb(216, 207, 207);
    font-size: 100px;
    font-style: italic;
    letter-spacing: 10px;
    padding: 5px;
}

.left p:nth-child(3) {
    color: rgba(0, 255, 251, 0.676);
    font-size: 30px;
    letter-spacing: 2px;
    font-style: italic;
}

.left button {
    width: 170px;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    border: 4px solid rgb(146, 30, 88);
    background-color: blanchedalmond;
    font-weight: 550;
    color: rgb(12, 12, 12);
    margin: 40px 10px;
}

.left button:hover {
    width: 170px;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    border: 3px solid black;
    background-color: rgba(146, 30, 88, 0.872);
    font-weight: 550;
    color: blanchedalmond;
    transition: .5s;
    margin: 38px 20px;
}

/***********SOCIAL MEDIA***************/
.socialmedia {
    width: 40px;
    height: 200px;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.831);
    right: 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.968);
    cursor: pointerS;
}

.socialmedia i:hover {
    color: rgb(222, 19, 53);
    transition: .5s;
}

.socialmedia f:hover {
    color: rgb(40, 6, 164);
    transition: .5s;
}

.socialmedia t:hover {
    color: rgb(12, 145, 175);
    transition: .5s;
}

.socialmedia w:hover {
    color: rgb(12, 206, 51);
    transition: .5s;
}

/********BOTTOM PICTURE *******/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #d1e5ff;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#642bff, #ff22e6);
    border-radius: 5px;
}

#food1 {
    background-image: url('img/burger1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px;
    width: 150px;
    height: 150px;
    background-size: cover;
    border-radius: 450px;
    display: flex;
    justify-content: center;
    object-fit: cover;
    align-items: center;
}

#food1::before {
    width: 150px;
    height: 150px;
    border: 5px solid rgb(241, 237, 237);
    content: '';
    position: absolute;
    border-radius: 430px;
    padding: 1px;
}

#food2 {
    background-image: url('img/noodles.jpg');
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px;
    width: 150px;
    height: 150px;
    background-size: cover;
    border-radius: 450px;
    display: flex;
    justify-content: center;
    object-fit: cover;
    align-items: center;
}

#food2::before {
    width: 150px;
    height: 150px;
    border: 5px solid white;
    content: '';
    position: absolute;
    border-radius: 430px;
    padding: 1px;
}

#food3 {
    background-image: url('img/pizza2.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px;
    width: 150px;
    height: 150px;
    background-size: cover;
    border-radius: 450px;
    display: flex;
    justify-content: center;
    object-fit: cover;
    align-items: center;
}

#food3::before {
    width: 150px;
    height: 150px;
    border: 5px solid white;
    content: '';
    position: absolute;
    border-radius: 430px;
    padding: 1px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 100px;

}

/* video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video#video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    /* min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
    /* Add any additional styles for your content */
/* } */